:root {
    --input-error-borderColor: red;

    --error-text-fontColor: red;
    --error-text-fontSize: 18px;
    --error-text-fontWeight: 500;
    --error-text-marginTop: 2px;
    --error-text-marginLeft: 23px;

    --error-text-sing-in-page-marginTop: -25px;
    --error-text-sing-in-page-marginLeft: 8px;

    --authorization-container-width: 60%;
    --authorization-container-height: 87%;
    --authorization-container-margin: 3% auto;
}