:root {
  --otp-verification-side-bg-width: 57.6%;
  --otp-verification-side-bg-height: 100%;
  --otp-verification-side-bg-position: 80%;
  --otp-verification-container-width: calc(100% - var(--otp-verification-side-bg-width));
  --otp-verification-container-height: 100%;
  --otp-verification-container-bgColor: #DDD;
  --otp-verification-container-padding: 40px 80px;
  --otp-verification-container-heading-fontSize: 32px;
  --otp-verification-container-heading-fontWeight: bold;
  --otp-verification-container-heading-marginBottom: 30px;
  --otp-verification-container-text-fontColor: #868686;
  --otp-verification-container-text-fontWeight: 500;
  --otp-verification-container-text-maxWidth: 305px;
  --otp-verification-container-text-lineHeight: 19.5px;
  --otp-verification-container-data-input-container-rowGap: 30px;
  --otp-verification-container-data-input-container-width: 100%;
  --otp-verification-container-fieldset-border: 2px solid #a5a5a5;
  --otp-verification-container-fieldset-borderRadius: 20px;
  --otp-verification-container-fieldset-width: 100%;
  --otp-verification-container-fieldset-height: 72px;
  --otp-verification-container-fieldset-focusWithin-borderColor: #005CE0;
  --otp-verification-container-fieldset-legend-fontWeight: 500;
  --otp-verification-container-fieldset-legend-fontColor: #686868;
  --otp-verification-container-fieldset-legend-marginLeft: 20px;
  --otp-verification-container-fieldset-legend-padding: 0 7px 0 7px;
  --otp-verification-container-fieldset-legend-focusWithin-fontColor: #498AE7;
  --otp-verification-container-fieldset-input-width: 100%;
  --otp-verification-container-fieldset-input-height: 115%;
  --otp-verification-container-fieldset-input-top: -20%;
  --otp-verification-container-fieldset-input-padding: 0 20px 0 20px;
  --otp-verification-container-fieldset-input-fontColor: #868686;
  --otp-verification-button-width: 100%;
  --otp-verification-button-height: 71px;
  --otp-verification-button-bgColor: #498AE7;
  --otp-verification-button-borderRadius: 30px;
  --otp-verification-button-fontSize: 24px;
  --otp-verification-button-fontWeight: bold;
  --otp-verification-button-fontColor: white;
  --otp-verification-button-marginTop: 20px;
  --otp-verification-button-hover-bgColor: #005CE0;
  --otp-confirm-verification-code-inputs-colGap: 7px;
  --otp-confirm-verification-container-rowGap: 30px;
  --otp-confirm-verification-container-code-inputs-input-widthHeight: 71px;
  --otp-confirm-verification-container-code-inputs-input-bgColor: #bebebe;
  --otp-confirm-verification-container-code-inputs-input-fontSize: 32px;
  --otp-confirm-verification-container-code-inputs-input-fontWeight: 600;
  --otp-confirm-verification-container-code-inputs-input-borderRadius: 20px;
  --incorrect-code-fontSize: 26px;
  --incorrect-code-fontColor: red;
  --incorrect-code-fontWeight: 600;
}

:root {
  --input-error-borderColor: red;
  --error-text-fontColor: red;
  --error-text-fontSize: 18px;
  --error-text-fontWeight: 500;
  --error-text-marginTop: 2px;
  --error-text-marginLeft: 23px;
  --error-text-sing-in-page-marginTop: -25px;
  --error-text-sing-in-page-marginLeft: 8px;
  --authorization-container-width: 60%;
  --authorization-container-height: 87%;
  --authorization-container-margin: 3% auto;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: black;
}

input, button, textarea {
  border: 0;
  background-color: transparent;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: black;
}

input::placeholder, textarea::placeholder {
  color: black;
}

fieldset {
  border: 0;
}

ul, ol, menu {
  list-style: none;
}

.page {
  background-color: rgb(243, 243, 243);
}

.otp-container {
  width: var(--authorization-container-width);
  min-height: var(--authorization-container-height);
  margin: var(--authorization-container-margin);
  display: flex;
}
.otp-container__side-bg {
  min-width: var(--otp-verification-side-bg-width);
  min-height: var(--otp-verification-side-bg-height);
  background-image: url("./side-bg-image.png");
  background-size: cover;
  background-position: var(--otp-verification-side-bg-position);
}
.otp-container__verification {
  width: var(--otp-verification-container-width);
  min-height: var(--otp-verification-container-height);
  background-color: var(--otp-verification-container-bgColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--otp-verification-container-padding);
}
.otp-container__verification-heading {
  font-size: var(--otp-verification-container-heading-fontSize);
  font-weight: var(--otp-verification-container-heading-fontWeight);
  font-family: "Poppins", sans-serif;
  margin-bottom: var(--otp-verification-container-heading-marginBottom);
  text-align: center;
}
.otp-container__verification-text {
  font-weight: var(--otp-verification-container-text-fontWeight);
  color: var(--otp-verification-container-text-fontColor);
  max-width: var(--otp-verification-container-text-maxWidth);
  font-family: "Poppins", sans-serif;
  text-align: center;
  line-height: var(--otp-verification-container-text-lineHeight);
}
.otp-container__verification-button {
  width: var(--otp-verification-button-width);
  height: var(--otp-verification-button-height);
  background-color: var(--otp-verification-button-bgColor);
  border-radius: var(--otp-verification-button-borderRadius);
  font-size: var(--otp-verification-button-fontSize);
  font-weight: var(--otp-verification-button-fontWeight);
  color: var(--otp-verification-button-fontColor);
  font-family: "Poppins", sans-serif;
  margin-top: var(--otp-verification-button-marginTop);
  cursor: pointer;
  transition: all 0.3s;
}

.otp-container__verification-data-input-container {
  width: var(--otp-verification-container-data-input-container-width);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: var(--otp-verification-container-data-input-container-rowGap);
}
.otp-container__verification-data-input-container-fieldset-inner {
  min-width: var(--otp-verification-container-fieldset-width);
  min-height: var(--otp-verification-container-fieldset-height);
  border: var(--otp-verification-container-fieldset-border);
  border-radius: var(--otp-verification-container-fieldset-borderRadius);
  padding: var(--otp-verification-container-fieldset-padding);
  transition: all 0.3s;
}
.otp-container__verification-data-input-container-fieldset-inner-legend {
  color: var(--otp-verification-container-fieldset-legend-fontColor);
  font-weight: var(--otp-verification-container-fieldset-legend-fontWeight);
  font-family: "Poppins", sans-serif;
  margin-left: var(--otp-verification-container-fieldset-legend-marginLeft);
  padding: var(--otp-verification-container-fieldset-legend-padding);
  transition: all 0.3s;
}
.otp-container__verification-data-input-container-fieldset-inner-input {
  display: block;
  min-width: var(--otp-verification-container-fieldset-input-width);
  min-height: var(--otp-verification-container-fieldset-input-height);
  position: relative;
  top: var(--otp-verification-container-fieldset-input-top);
  padding: var(--otp-verification-container-fieldset-input-padding);
  font-family: "Poppins", sans-serif;
  color: var(--otp-verification-container-fieldset-input-fontColor);
}
.otp-container__verification-data-input-container-fieldset-inner:focus-within {
  border-color: var(--otp-verification-container-fieldset-focusWithin-borderColor);
}
.otp-container__verification-data-input-container-fieldset-inner:focus-within .otp-container__verification-data-input-container-fieldset-inner-legend {
  color: var(--otp-verification-container-fieldset-legend-focusWithin-fontColor);
}

.otp-container__verification-confirm-verification-container {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: var(--otp-confirm-verification-container-rowGap);
}
.otp-container__verification-confirm-verification-container-code-inputs-container {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: var(--otp-confirm-verification-code-inputs-colGap);
       column-gap: var(--otp-confirm-verification-code-inputs-colGap);
}
.otp-container__verification-confirm-verification-container-code-inputs-container-input {
  max-width: var(--otp-confirm-verification-container-code-inputs-input-widthHeight);
  min-height: var(--otp-confirm-verification-container-code-inputs-input-widthHeight);
  background-color: var(--otp-confirm-verification-container-code-inputs-input-bgColor);
  text-align: center;
  font-size: var(--otp-confirm-verification-container-code-inputs-input-fontSize);
  font-weight: var(--otp-confirm-verification-container-code-inputs-input-fontWeight);
  font-family: "Poppins", sans-serif;
  border-radius: var(--otp-confirm-verification-container-code-inputs-input-borderRadius);
  border: 2px solid transparent;
}

.active {
  display: flex;
}

.input-error {
  border-color: var(--input-error-borderColor);
}

.error-text {
  color: var(--error-text-fontColor);
  font-family: "Poppins", sans-serif;
  font-size: var(--error-text-fontSize);
  font-weight: var(--error-text-fontWeight);
  margin-top: var(--error-text-marginTop);
  margin-left: var(--error-text-marginLeft);
  align-self: flex-start;
}
.error-text--sign-in-page {
  margin-top: var(--error-text-sing-in-page-marginTop);
  margin-left: var(--error-text-sing-in-page-marginLeft);
}

.error-text:empty {
  display: none;
}

.incorrect-code {
  font-size: var(--incorrect-code-fontSize);
  font-weight: var(--incorrect-code-fontWeight);
  color: var(--incorrect-code-fontColor);
  font-family: "Poppins", sans-serif;
}
.incorrect-code:empty {
  display: none;
}

@media (hover: hover) {
  .otp-container__verification-button:hover {
    background-color: var(--otp-verification-button-hover-bgColor);
  }
}
@media (hover: none) {
  .otp-container__verification-button:active {
    background-color: var(--otp-verification-button-hover-bgColor);
  }
}
@media (max-width: 1350px) {
  :root {
    --otp-verification-container-width: 100%;
    --otp-verification-side-bg-height: 30%;
  }
  .otp-container {
    display: block;
  }
}
@media (max-width: 530px) {
  :root {
    --otp-verification-container-padding: 10px 20px;
  }
}
@media (max-width: 860px) {
  :root {
    --authorization-container-width: 100%;
    --authorization-container-height: 100%;
    --authorization-container-margin: 0 auto;
  }
}/*# sourceMappingURL=otp-verification.css.map */